<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-BiS</title>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://unpkg.com/vue-scrollto"></script>

<body>
    <div id="app">
        <a href="#" v-scroll-to="'#bottom'" class="return-bottom"><i class="fas fa-angle-double-down"></i></a>
        <a href="#" v-scroll-to="'#top'" class="return-top"><i class="fas fa-angle-double-up"></i></a>

        <div class="title-container">
            <div id="top">
                <h1 class="title">
                    <img src="logo.png">
                    </h3>
            </div>
            <transition appear name="instagram">
                <div id="instagram">
                    <!-- LightWidget WIDGET -->
                    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
                        src="https://cdn.lightwidget.com/widgets/9da1000539845900b3c54d77973f5ef6.html" scrolling="no"
                        allowtransparency="true" class="lightwidget-widget"
                        style="width:100%;border:0;overflow:hidden;"></iframe>
                </div>
            </transition>
            <div class="members">
                <transition appear name="menu1">
                    <div class="member bis" v-bind:class="{ active: memberFilter === 'BiS' }"
                        v-on:click="setMember('BiS')">
                        BiS</div>
                </transition>
                <transition appear name="menu2">
                    <div class="member ito" v-bind:class="{ active: memberFilter === 'MUSENSiTEEBU' }"
                        v-on:click="setMember('MUSENSiTEEBU')">&#129429; MUSENSiTEEBU &#129429;</div>
                </transition>
                <!--クリックでfilterをactive-->
                <transition appear name="menu3">
                    <div class="member chamo" v-bind:class="{ active: memberFilter === 'CHANTMONKEE' }"
                        v-on:click="setMember('CHANTMONKEE')">&#128053; CHANTMONKEE &#128053;</div>
                </transition>
                <transition appear name="menu4">
                    <div class="member neo" v-bind:class="{ active: memberFilter === 'NEOTREES' }"
                        v-on:click="setMember('NEOTREES')">&#127794; NEOTREES &#127794;</div>
                </transition>
                <transition appear name="menu5">
                    <div class="member toggy" v-bind:class="{ active: memberFilter === 'TOGGY' }"
                        v-on:click="setMember('TOGGY')">&#128118; TOGGY &#128118;</div>
                </transition>
                <transition appear name="menu6">
                    <div class="member nano" v-bind:class="{ active: memberFilter === 'NANO3' }"
                        v-on:click="setMember('NANO3')">&#127799; NANO3 &#127799;</div>
                </transition>
            </div>
        </div>
        <transition-group class="projects" name="projects">
            <div class="project" v-if="memberFilter === project.category || memberFilter === 'BiS'"
                v-bind:key="project.title" v-for="project in projects">
                <div class="project-image-wrapper">
                    <img class="project-image" v-bind:src="project.image">
                    <div class="gradient-overlay"></div>
                </div>
            </div>
        </transition-group>
    </div>
    <footer id="bottom">
        <div class="footer-left">
        <div class="footer-logo"><img src="logo.png"></div>
        <div class="footer-icon"> &#129429; &#128053; &#127794; &#128118; &#127799;</div>
        </div>
        <div class="footer-right">
        <div class="link">
        <a target="_blank" href=""><i class="fab fa-twitter fa-xs"></i></a><a target="_blank" href="https://github.com/v-bis/top"><i class="fab fa-github fa-lg"></i></a>
        </div>
        <div class="footer-copy">
        ©2022 v-BiS
        </div>
        </div>
    </footer>
    <script>
        new Vue({
            el: '#app',
            data: {
                memberFilter: 'BiS',//初期表示
                projects: [
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/nano3.jpg" , category:"NANO3"},
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/nano4.jpg" , category:"NANO3"},
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/neo2.jpg" , category:"NEOTREES"},
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/neo3.jpg" , category:"NEOTREES"},
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/ito2.jpg" , category:"MUSENSiTEEBU"},
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/mon3.jpg" , category:"CHANTMONKEE"},
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/mon4.jpg" , category:"CHANTMONKEE"},
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/nano2.jpg", category: 'NANO3' },
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/ito1.jpg", category: 'MUSENSiTEEBU' },
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/mon1.jpg", category: 'CHANTMONKEE' },
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/nano1.jpg", category: 'NANO3' },
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/neo1.jpg", category: 'NEOTREES' },
                    { title: "", image: "https://raw.githubusercontent.com/v-bis/top/main/mon2.jpg", category: 'CHANTMONKEE' },
                    { title: "", image: "", category: 'TOGGY' },
                ]
            },
            methods: {
                setMember: function (member) {
                    this.memberFilter = member;
                }
            }
        })
    </script>
</body>

</html>